/*CSS Reset*/
*{
    margin:0;
    padding:0;
  }
  body{
    background-color: hsla(0, 0%, 100%, 0.75);
    width: 90%;
    height: 80%;
    Font-size: 15px;
  }

  main {
    /*display: flex;*/
    /*flex-direction:*/
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 200px 50px 50px 100px;
  }
  
  h2{
    font-family: 'Big Shoulders Display', sans-serif;
  }
  
  p{
    font-family: 'Lexend Deca', sans-serif;
  }
  
  h2, p{
    padding: 20px 50px; 
  }

.leftcontent{
  background-color: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 1px solid hsl(31, 77%, 52%);
  width: 100%;
}

  .middlecontent{
    background-color: hsl(184, 100%, 22%);
    color:hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsl(184, 100%, 22%);
    width:100%;
  }
  .rightcontent{
    background-color: hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    border: 1px solid hsl(179, 100%, 13%);
    width: 100%;
  }
  
  /*Buttons*/
  .button1{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    border: 2px solid #fff;
    border-radius: 20px; 
    margin: 25px 0 40px 48px;
    padding: 15px 25px;
  }
  .button2{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 25px 0 40px 48px;
    padding: 15px 25px;
  }
  .button3{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 25px 0 40px 48px;
    padding: 15px 25px;
  }
  
  button:hover{
    background-color: #808080;
    color: hsl(0, 0%, 95%);
    border: 2px solid #FFE4E1;
    cursor: pointer;
  }

  img{
    margin: 10px 0 5px 30px;
  }
  
  /* responsiveness */
  @media only screen and (max-width: 1440px){
    main{
      width: 80%;
      box-sizing: border-box;
    }
    .rightcontent{
      width: 100%;
    }
    .middlecontent{
      width: 100%;
    }
    .leftcontent{
      width: 100%;
    }
    button{
      box-sizing: border-box;
    }
  } 
  @media only screen and (max-width: 600px){
    body{
      width: 100%;
      
    }
    main{
      width: 100%;
      margin:20px 20px 10px 0;
      padding:10px 5px 30px 5px;
      box-sizing: border-box;
      display: flex;
      font-size:small;
    }
    .button3{
      margin-top: 10px;
      position: absolute;
    }
  }

  /* @media only screen and (max-width: 375px){
    body{
      width: 80%;
    }
    main{
      max-width: 50%;
      padding:0 5px 10px 5px; 
      margin:10px;
      font-size: small;
      box-sizing: border-box;
      display:flex;
    }
    .leftcontent, .middlecontent, .rightcontent{
      width: 20%;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  } */