/* CSS reset */
/* *{
    margin: 0;
    padding: 0;
    
} */
body{
    width: 100%;

    
    background-color: hsla(0, 0%, 100%, 0.75);
}

h2{
    margin: 30px auto;
    text-decoration: solid;
    text-align: center;
    font-size: 35px;
    justify-content: center;
    font-family: 'Big Shoulders Display', sans-serif;   
}

h3, a{
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
}


.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 30px;
    width: 80%;

    box-sizing: border-box;

}

.first{
    background-color: hsl(31, 77%, 52%);
    color:hsla(0, 0%, 100%, 0.75);
    padding: 80px;
    width: 50%;
    font-size: 35px;
    
}

.Second{
    background-color: hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    padding: 80px;
    width: 50%;
    font-size: 35px;
    
}

a:hover{
    color: black;
    border: 2px solid white;
}
